@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  /* Se ajustan las propiedades para ser más específicas  */
  background-color: #f0c27b; /* fallback*/ 
  background-image: linear-gradient(to right, #f0c27b, #4b1248); /* Se mantiene este detalle */
  font-family: "Roboto", serif;
}

/* Se agregan estilos para el encabezado y titulo */
header,
.title-guest-list {
  text-align: center;
  color: wheat;
}

/* Se agregan estilos para el encabezado */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Se ajusta el nombre de las clases para coincidir con html y se agregan estilos */
.form {
  background-color:  #4b1248;
  border: 2px solid wheat;
  border-radius: 1.5rem;
  max-width: 790px;
  margin: 0 auto;
  display: block;
  padding: 2rem;
}

.form fieldset {
  border: none;
}

.form legend {
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin: 10px 0;
}

.form label {
  color: white;
  margin-bottom: .5rem;
  display: block;
}

.field {
  border: none;
  border-bottom: 3px solid #f0c27b;
  color: #4b1248;
  padding: 8px 0px;
  text-align: center;
  width: 100%;
  margin-bottom: .5rem;
}

.error {
  background-color: red;
}

/* Se agregane los estilos para el botón del formulario */
.btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn .btn-confirmar {
  width: 50%;
}

.btn-confirmar {
  background-color: #f0c27b;
  border: none;
  border-radius: .5rem;
  color: #4b1248;
  font-size: 14px;
  font-weight: 600;
  margin-top: 1rem;
  padding: 1rem;
  text-align: center;
}

.elemento-lista {
  color: #4b1248;
  font-family: Verdana;
  margin: 10px 0;
  border: 5px solid #4b1248;
  border-radius: 5px;
  padding: 0 5px;
  width: 400px;
  margin: 20px
}

.elemento-lista input {
  border: none;
  background: none;
  color: #4b1248;
  font-family: Verdana;
  margin: 10px 0;
  font-size: 16px;
}